/*fonts*/
@font-face{
	src:url(../fonts/);
	font-family: ;
}
@font-face{
	src:url(../fonts/);
	font-family: ;
}
/*common*/
body{
	
}
.box{
	min-height: 350px;
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

